body {
    background-image: url("/static/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: orange;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}